header{
	background-color:#404040;
	color:white;
}

main{
	background-color:#D5D8D9;
}

section{
	
}

footer{
	background-color:404040;
	color:white;
}

a{
	color:404040;
	font-weight:bold;
}
.blue{
	color:30ACEC;
}
